
* {
  margin: 0; padding: 0;
  box-sizing: border-box;
  transition: all 0.5s ease-out;
}

body {
  background-color: #111331;
}

.App {
  text-align: center;
  padding: 5%;
  border-radius: 16px;
}

.App h3 {
  padding: 1%;
  background-color: #03045e;
  color:whitesmoke;
  font-size: 1.6em;
  /* letter-spacing: 0.16em; */
  border-radius: 16px 16px 0px 0px;
}
